<html>
  <head>
    <title>My Angular App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularapp.js"></script>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
              <!--
              <h1> Flapper News </h1>
            </div>
            <form>
              <button ng-submit="addPost()">
                <div class="form-group">
                  <input class="form-control" type="text" ng-model="title" placeholder="Title"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" ng-model="link" placeholder="Link"/>
                </div>
              <button type="submit" ng-disabled="!title">Add a new Post</button>
            </form>
      <- <button ng-click="addPost()">Add a new post</button> ->
            <div ng-repeat="post in posts | orderBy: '-upvotes' ">
              <a href="{{post.link}}" ng-show="post.link">{{post.title}}</a>
              <span ng-hide="post.link">{{post.title}}</span>
              <span ng-click="incrementUpvotes(post)"> ^ </span>
      <- {{post.title}} -> - upvotes: {{post.upvotes}}
            </div> -->
        </div>
      </div> 

      <script type="text/ng-templates" id="/home.html">
        <h1> Flapper News </h1>
            </div>
            <form>
              <button ng-submit="addPost()">
                <div class="form-group">
                  <input class="form-control" type="text" ng-model="title" placeholder="Title"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" ng-model="link" placeholder="Link"/>
                </div>
              <button type="submit" ng-disabled="!title">Add a new Post</button>
            </form>
      <- <button ng-click="addPost()">Add a new post</button> ->
            <div ng-repeat="post in posts | orderBy: '-upvotes' ">
              <a href="{{post.link}}" ng-show="post.link">{{post.title}}</a>
              <span ng-hide="post.link">{{post.title}}</span>
              <span ng-click="incrementUpvotes(post)"> ^ </span>
      <- {{post.title}} -> - upvotes: {{post.upvotes}}
            </div> -->

      </script type="text/ng-templates" id="/posts.html">
		<div class="pageheader">
			<h3>
				<a href="{{post.link}}" ng-show="post.link">{{post.title}}</a>
				<span ng-hide="post.link">{{post.title}}</span>
			</h3>
		</div>
	  <script>
	  
	  </script>
  </body>
</html>